*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image:url('images/papertexture.webp');
}

header {
    background: #5d4b69;
    padding: 40px 0;
    border-bottom: 3px solid #e3b2ed;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1{
    float: left;
    color: rgb(68, 62, 80);
}

span {
    background-color: rgb(237, 233, 237);
}

p{
    margin: 15px 0;
    line-height: 120%;
}

nav {
    float: right;
}

nav a {
    color:aliceblue;
    font-family: sans-serif;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}

nav a {
    text-decoration: underline;
}

main {
    background-color: rgb(232, 232, 232);
    float: left;
    width: 70%;
    padding: 20px 25px 40px 25px;
}

aside{
    background-color: #cdacca;
    float: right;
    width: 20%;
    padding: 20px;
}

footer {
    clear: both;
}

.main-content {
    margin: 40px auto;
}

main img {
    float: left;
    margin: 10px 20px 10px 0;
    width: 200px;
    border: 3px solid #5d4b69;
    box-shadow: 2px 2px 6px grey;
}

aside img {
    box-shadow: 2px 2px 6px grey;
    width: 32px;
    margin-right: 6px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #5d4b69;
    width: 100%;
    text-align: center;
    border-top: 4px solid #e3b2ed;
    border-bottom: 6px solid #b087b9;
}

footer p {
    color: aliceblue;
    font-size: 14px;
}